[user]
  name = Michael Daines
  email = <953037+defndaines@users.noreply.github.com>
[push]
  default = simple
  followTags = true
[merge]
  ff = only
  tool = vimdiff
[alias]
  amend = commit --amend  # Amend your last commit.
  glog = log --pretty=oneline -n 20 --graph --abbrev-commit
  lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
  oldest-ancestor = !zsh -c 'diff --old-line-format='' --new-line-format='' <(git rev-list --first-parent "${1:-master}") <(git rev-list --first-parent "${2:-HEAD}") | head -1' -
  patdiff = difftool -y -x patdiff
  prune = fetch --prune
  st = status
  stash-all = stash save --include-untracked
  tlog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
  undo = reset --soft HEAD^
  upstream-merge = !"git fetch origin -v && git fetch upstream -v && git merge upstream/master && git push"
  wip = diff --name-only
  gone = ! git fetch -p && git for-each-ref --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs -r git branch -D
[apply]
  # Detect whitespace errors when applying a patch
  whitespace = fix
[status]
  showUntrackedFiles = all
[core]
  pager = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less
  autocrlf = input
  # Treat spaces before tabs and all kinds of trailing whitespace as an error
  # [default] trailing-space: looks for spaces at the end of a line
  # [default] space-before-tab: looks for spaces before tabs at the beginning of a line
  whitespace = space-before-tab,-indent-with-non-tab,trailing-space
  symlinks = false
[help]
  autocorrect = 1
[color]
  ui = true
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "diff"]
  commit = green
  meta = yellow
  frag = cyan
  old = red
  new = green
  whitespace = red reverse
[pull]
  rebase = false
[init]
  defaultBranch = main
